html {
  background: linear-gradient(to bottom right, rgb(9, 9, 9), rgb(101, 6, 84) );
  font-size: 22px;
  font-family: "Fjalla One", sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: darkslategrey;
  padding: 1em;
  border: 5px solid black;
}

a {  
  font-size: 3rem;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <700>;
  font-style: normal;
  margin: 0;
  padding: 20px 0;
  color: rgb(101, 6, 84);
  text-shadow: 3px 3px 1px black;
  text-decoration: none;
  
}

h1,h2,
h3 {
  font-size: 3rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 20px 0;
  color: rgb(101, 6, 84);
  text-shadow: 3px 3px 1px black;
}

p {
  color: black;
  line-height: 2;
  letter-spacing: 1px;
  
}


span {
  color: black;
  font-size: 1rem;
  line-height: 2;
  letter-spacing: 1px;
  font-family: "Fjalla One";
  text-shadow: none;
  padding: 20px 0;
  text-decoration: underline;
}



img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.trolls {
      text-align: center;
}
.pct {
  display: block;
  float: left;
  margin-top: -45px
}

.svt {
  display: block;
  float: right;
  margin-top: -45px;
}

  @media screen and (max-width: 600px) {
  p,
  span {
    font-size: 2rem;
       }
  h1,
  h2 {
    font-size: 3rem;
     }
}
