html {
  background: linear-gradient(to bottom right, rgb(9, 9, 9), rgb(101, 6, 84) );
  font-size: 22px;
  font-family: "Fjalla One", sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: darkslategrey;
  padding: 1em;
  border: 5px solid black;
}

a {  
  font-family: "Dancing Script", cursive;
  font-style: normal;
  color: rgb(101, 6, 84);
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
  text-decoration: none;  
}

h1,h2,
h3 {
  font-size: 3rem;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin: 0;
  padding: 20px 20px;
  color: rgb(101, 6, 84);
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.5);
}

p {
  color: black;
  line-height: 2;
  letter-spacing: 1px;
  
}


span {
  color: black;
  font-size: 1rem;
  font-family: "Fjalla One";
  text-shadow: none;
  text-decoration: underline;
}



img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.trolls {
      text-align: center;
}



.bouton {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

.pct, .svt {
  display: block;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);
  padding: 3px;
  border: 2px solid black;
  text-align: center;
  border-radius: 10PX;
  background: linear-gradient(to bottom right, rgb(9, 9, 9, 0.5), rgb(101, 6, 84) );
}

a:hover {
  opacity: 0.5;
}

.pct:hover {
  opacity: 0.5;
}
.svt:hover {
  opacity: 0.5;
}

  @media screen and (max-width: 600px) {
  p,
  span {
    font-size: 2rem;
       }
  h1,
  h2 {
    font-size: 3rem;
     }
}

